*{
	margin: 0px;
	padding: 0px;
	border: none;
}

body, html{
	height: 100%;
}

body{
	font-family: sans-serif;
	background-color: #333;
	color: #eee;
}

#loadingStatus{
	display: none;
	position: absolute;
	width: 400px;
	text-align: left;
	padding: 30px;
	height: 230px;
	left: 50%;
	margin-left: -200px;
	top: 30%;
	background-color: #333333;
	border: 1px #111111 solid;
	opacity: 1;
	transition: opacity;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

#loadingStatus.fading{
	opacity: 0;
}

#loadingBarContainer{
	height: 15px;
	background-color: #292929;
	border: 1px #111111 solid;
	width: 100%;
	margin-bottom: 20px;
}

#loadingBar{
	width: 0%;
	height: 100%;
	background-color: #FFAA00;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
	transition: width;
	transition-duration: 250ms;
	transition-timing-function: linear;
}

#canvasContainer{
	width: 100%;
	height: 100%;
	background-color: #040;
}

#renderCanvas{
	background-color: #000;
}

#fileUpload{
	position: absolute;
}

#cameraZInput, #offsetYInput{
	position: absolute;
	width: 100%;
	top: 30px;
}

#offsetYInput{
	top: 60px;
}